.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.navbar{
    background-color: var(--button-primary-background);
    border: 1px solid var(--button-primary-border);
    border-radius: 100px;
    padding: 11px 15px;
    backdrop-filter: blur(30px);
}

.navbar > a{
    margin: 0 15px;
    opacity: 1;
    font-size: 15px;
    font-weight: 300;

    transition: 0.3s;
}


a {
    text-decoration: none;
    color: var(--white);
}

@media (max-width: 800px) {
    .navbar-container{
        display: none;
    }
}