.popup-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(8, 12, 22, 0.795);
    backdrop-filter: blur(40px);
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in 0.3s;
    animation-fill-mode: forwards;
}

.popup-overlay.closing {
    animation: fade-out 0.3s;
    animation-fill-mode: forwards;
}

.popup-container {
    z-index: 1002;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    pointer-events: none;
}

.popup-content {
    z-index: 1003;
    color: var(--white);
    border-radius: 8px;
    padding: 30px;
    width: 500px;
    pointer-events: all !important;
    opacity: 0;
    animation: float-in 0.3s;
    animation-fill-mode: forwards;
}

.popup-content.closing {
    animation: float-out 0.3s;
    animation-fill-mode: forwards;
}

.popup-title {
    font-size: 45px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.popup-form input,
.popup-form textarea {
    background-color: var(--button-background);
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(100px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    outline: none;
    color: var(--white);
}

.popup-form input::placeholder,
.popup-form textarea::placeholder {
    opacity: 0.2;
    font-family: "DM Sans", sans-serif;
}

.popup-form label {
    font-size: 14px;
    margin-bottom: 3px;
    opacity: 0.8;
    color: var(--white);
}

.popup-form button {
    background-color: var(--black);
    border: 0;
    padding: 0;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    align-self: flex-start;
}

.popup-submit{
    font-family: "DM Sans", sans-serif;
    background: none !important;
    text-decoration: none !important;
    color: var(--white) !important;
}

@keyframes float-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float-out {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@media screen and (max-width: 800px) {
    .popup-content {
        width: 80vw;
    }

    .popup-form > button::after{
        display: none !important;
    }
}